@import url(./src/styles/variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-ting);
  color: var(--text-color-gray-ting);
  font-family: Open Sans, sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: calc(var(--spacing) * 16);
}

h1 {
  margin-bottom: calc(var(--spacing) * 4);
}
p {
  /* margin-top: calc(var(--spacing) * 4); */
  margin-bottom: calc(var(--spacing) * 4);
}

hr {
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 4);
}
