header {
  width: 70%;
  margin: 40px auto;
}
.justify-center {
  justify-content: center;
}
header a {
  /* color: white; */
  color: var(--color-gray-400);
  margin: 0;
  text-decoration: underline;
}

header a.active {
  color: white;
}

header ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
}
