.main {
  text-align: center;
  margin-top: calc(120px - 22px);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.typewriter-container h2:first-child {
  margin-right: 0.25em;
}
.typewriter-container h2 {
  /* border: 1px solid red; */
  /* flex-basis: auto; */
  display: inline-block;
}
.typewriter {
  overflow: visible;
  margin: 0 auto;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end);
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.caret {
  animation: blink-caret 0.7s infinite;
}

@keyframes blink-caret {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
