header {
  width: 70%;
  margin: 40px auto;
}
.justify-center {
  justify-content: center;
}
header a {
  color: white;
  margin: 0;
}
header ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
}
